  #page-title {
    font-size: 90px; /* ubah sesuai kebutuhan */
    font-weight: 700;
    color: #ffffff;
  }

  .breadcrumbs {
    font-size: 16px;
    color: #dddddd;
  }


  /* .hero .btn {
  font-size: 16px;
  border-radius: 30px;
  font-weight: 500;
}
#about-section p {
  font-size: 16px;
  line-height: 1.8;
} */
